body {
	color: #5b18f4;
	font-family: sans-serif;
	background-color: #ddccff;
	padding: 80px 0;
}



.navbar-header {
	width: 100%;
}
.btn,
.btn:hover,
.btn.hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.focus:active,
.btn.focus:active,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	border-color: #3b003f;
	outline-style: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #6b006f;
	background-position: 0 -15px;
}
.btn-primary {
	background-image: -webkit-linear-gradient(top,#8b148f 0,#6b006f 100%);
	background-image: -o-linear-gradient(top,#8b148f 0,#6b6f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#8b148f),to(#6b6f00));
	background-image: linear-gradient(to bottom,#8b148f 0,#6b6f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b148f', endColorstr='#ff6b6f00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3b003f;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-right: 7px;
	text-transform: lowercase;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary[dissbled]:hover {
	background-color: #6b006f;
	border-color: #9b309f;
	color: #9b309f;
}
h1.page_header {
	text-align: center;
}
.panel-default {
	border: none;
}
.panel-default > .panel-heading {
	background-image: none;
	background-color: #bbbbee;
	border: none;
	color: #66b;
}
.panel-heading .btn-sm {
	padding-top: 2px;
	padding-bottom: 2px;
}
.panel-title .inputs * {
	display: inline-block;
	font-size: 12px;
	margin: 0 5px 0 0;
}
.panel-title .inputs label {
	margin-top: 2px;
}
.panel-body {
	background-color: #eeeeff;
	border-radius: 0 0 3px 3px;
}



#masthead {
	background-color: #333366;
	border: 0;
	margin-bottom: 40px;
}
#masthead .container-fluid {
	background-color: #333366;
}
#masthead .navbar-brand {
	color: #ccccff;
	text-shadow: none;
	text-transform: lowercase;
}
#masthead .navbar-brand span {
	color: #fff;
	text-shadow: none;
}
#masthead .btn {
	margin: 10px 0;
}
#masthead .btn-primary:active {
	border-color: #3b003f;
}
#masthead .btn-primary:disabled,
#masthead .btn-primary[disabled]:active {
	border-color: #9b309f;
	box-shadow: none;
	-webkit-box-shadow: none;
}