@font-face {
	font-family: Lithos;
	src: url(../fonts/LithosPro-Black.otf);
}
@font-face {
	font-family: GillSans;
	src: url(../fonts/GillSans.ttc);
}


body {
	color: #5b18f4;
	font-family: GillSans, sans-serif;
	font-weight: 300;
	background-color: #d7d7ff;
	padding: 70px 0;
}


.navbar-header {
	width: 100%;
}
.btn,
.btn:hover,
.btn.hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.focus:active,
.btn.focus:active,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	border-color: #3b003f;
	outline-style: none;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #6b006f;
	background-position: 0 -15px;
}
.btn-primary {
	background-image: -webkit-linear-gradient(top,#8b148f 0,#6b006f 100%);
	background-image: -o-linear-gradient(top,#8b148f 0,#6b6f00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#8b148f),to(#6b6f00));
	background-image: linear-gradient(to bottom,#8b148f 0,#6b6f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b148f', endColorstr='#ff6b6f00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #3b003f;
	letter-spacing: 3px;
	padding-left: 10px;
	padding-right: 7px;
	text-transform: lowercase;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:active,
.btn[disabled]:active,
fieldset[disabled] .btn,
.btn-primary:disabled,
.btn-primary[disabled],
.btn-primary[dissbled]:hover {
	background-color: #6b006f;
	border-color: #9b309f;
	color: #9b309f;
}
h1.page_header {
	text-align: center;
}
.panel-default {
	border: none;
}
.panel-default > .panel-heading {
	background-image: none;
	background-color: #bbe;
	border: none;
	color: #669;
}
.panel-heading .btn-sm {
	padding-top: 2px;
	padding-bottom: 2px;
}
.panel-title .inputs * {
	display: inline-block;
	font-size: 12px;
	font-weight: 200;
	margin: 0 5px 0 0;
}
.panel-title .inputs label {
	margin-top: 2px;
}
.panel-body {
	background-color: #eef;
	border-radius: 0 0 3px 3px;
}



#masthead {
	background: -moz-linear-gradient(top, rgba(215,215,255,1) 0%, rgba(215,215,255,1) 65%, rgba(215,215,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(215,215,255,1)), color-stop(65%,rgba(215,215,255,1)), color-stop(100%,rgba(215,215,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(215,215,255,1) 0%,rgba(215,215,255,1) 65%,rgba(215,215,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(215,215,255,1) 0%,rgba(215,215,255,1) 65%,rgba(215,215,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(215,215,255,1) 0%,rgba(215,215,255,1) 65%,rgba(215,215,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(215,215,255,1) 0%,rgba(215,215,255,1) 65%,rgba(215,215,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d7ff', endColorstr='#00d7d7ff',GradientType=0 ); /* IE6-9 */
	border: 0;
}
#masthead .container-fluid {
	background-color: #77a;
	padding: 0;
	height: 23px;
}
#masthead .navbar-brand {
	color: #bbe;
	font-family: Lithos;
	font-size: 40px;
	letter-spacing: 5px;
	padding-right: 5px;
	margin-left: 0;
	position: relative;
	top: 0;
	text-shadow: 1px 1px 1px #338;
	text-transform: lowercase;
}
#masthead .navbar-brand span,
#masthead .navbar-tagline span {
	color: #fff;
}
#masthead .navbar-brand span {
	text-shadow: 1px 1px 1px #338;
}
#masthead .navbar-tagline {
	color: #558;
	display: inline-block;
	font-size: 10px;
	padding-top: 9px;
	text-transform: uppercase;
}
#masthead .btn {
	margin: 10px 0;
}
#masthead .btn-primary:active {
	border-color: #3b003f;
}
#masthead .btn-primary:disabled,
#masthead .btn-primary[disabled]:active {
	border-color: #9b309f;
	box-shadow: none;
	-webkit-box-shadow: none;
}


.mg-area1-color {
	fill: #C30;
}
.mg-line1-color {
	stroke: #c30;
}

