            <div id="thankyou">
                <h1 class="page_header">Chart 2</h1>
            </div>

			<!--
            <div id="questions" class="panel panel-default" data-ng-cloak>
                <div class="panel-heading">
                    Time-Series Graphs
                </div>
                <div class="panel-body" data-ng-cloak>
                    <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="chart in charts">
                            {{ chart.name }}
                            <div class="input-group">

                            {{ chart.svg }} goes here.

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            -->